aniso8601==7.0.0
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
dj-database-url==0.5.0
Django==3.1.4
django-cors-headers==3.5.0
django-filter==2.4.0
django-graphql-auth==0.3.15
django-graphql-jwt==0.3.0
django-guardian==2.3.0
django-heroku==0.3.1
django-phonenumber-field==5.0.0
fastdiff==0.2.0
graphene==2.1.8
graphene-django==2.13.0
graphene-file-upload==1.2.2
graphql-core==2.3.2
graphql-relay==2.0.1
iniconfig==1.1.1
packaging==20.7
phonenumbers==8.12.14
Pillow==8.0.1
pluggy==0.13.1
promise==2.3
psycopg2==2.8.6
py==1.9.0
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.1.2
pytz==2020.4
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
snapshottest==0.6.0
sqlparse==0.4.1
termcolor==1.1.0
toml==0.10.2
Unidecode==1.1.1
whitenoise==5.2.0
yapf==0.30.0
